APP_NAME=AsistenciasFortia
APP_ENV=production
APP_DEBUG=false
APP_URL=https://desarrollo.sybiml3.com/biometrico
ASSET_URL=/biometrico

APP_KEY=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sistema_asistencias
DB_USERNAME=
DB_PASSWORD=

FORTIA_DB_HOST=127.0.0.1
FORTIA_DB_PORT=3306
FORTIA_DB_DATABASE=fortia_fake
FORTIA_DB_USERNAME=
FORTIA_DB_PASSWORD=

FORTIA_MOCK_DB_HOST=127.0.0.1
FORTIA_MOCK_DB_PORT=3306
FORTIA_MOCK_DB_DATABASE=fortia_mock
FORTIA_MOCK_DB_USERNAME=
FORTIA_MOCK_DB_PASSWORD=

SESSION_DRIVER=file
SESSION_PATH=/biometrico
SESSION_DOMAIN=desarrollo.sybiml3.com
SESSION_COOKIE=asistencias_fortia_session

SANCTUM_STATEFUL_DOMAINS=desarrollo.sybiml3.com,localhost,127.0.0.1:8080

CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=local
LOG_CHANNEL=stack
LOG_LEVEL=info