/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/private
/storage/debugbar
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

/vendor

.env
.env.*
!.env.example

Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
pnpm-debug.log

/.idea
/.vscode
*.suo
*.user
*.userosscache
*.sln.docstates

Thumbs.db
Desktop.ini

*.log

# temporales tuyos
.tmp_*.php
tmp_*
*.tmp

# si no quieres subir binarios/exportables
*.zip
*.7z
*.rar
*.bak