<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite" force="true"/>
        <env name="DB_DATABASE" value=":memory:" force="true"/>
        <env name="DB_URL" value="" force="true"/>
        <env name="FORTIA_MOCK_DB_HOST" value="127.0.0.1"/>
        <env name="FORTIA_MOCK_DB_PORT" value="3307"/>
        <env name="FORTIA_MOCK_DB_DATABASE" value="vending_attendance_testing_fortia_mock"/>
        <env name="FORTIA_MOCK_DB_USERNAME" value="vending_local"/>
        <env name="FORTIA_MOCK_DB_PASSWORD" value=""/>
        <env name="FORTIA_DB_HOST" value="127.0.0.1"/>
        <env name="FORTIA_DB_PORT" value="3307"/>
        <env name="FORTIA_DB_DATABASE" value="vending_attendance_testing_fortia"/>
        <env name="FORTIA_DB_USERNAME" value="vending_local"/>
        <env name="FORTIA_DB_PASSWORD" value=""/>
        <env name="FORTIA_BASE_URL" value="http://127.0.0.1:9"/>
        <env name="FORTIA_SYNC_DRIVER" value="mock"/>
        <env name="FORTIA_SYNC_CONNECTION" value="fortia_mock"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
